<!--<table data-sheet-name="INVOICE WRITE UP">
    <tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr>

    <tr>
        <td widtd="50" height="20">PURCHASE ORDER NUMBER</td>
    </tr>
    <tr>
        <td widtd="50">ORDER RELEASE NUMBER</td>
        <td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td>
        <td widtd="50">INVOICE NUMBER</td>
        <td widtd="50" id="invoice-number">20181202TS</td>
    </tr>
    <tr>
        <td widtd="50">PURCHASE REQ. NUMBER</td>
        <td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td>
        <td widtd="50">INVOICE DATE</td>
        <td widtd="50" id="invoice-date">12/02/2018</td>
    </tr>
    <tr>
        <td widtd="50">ACCOUNT NUMBER</td>
    </tr>

    <tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr>

    <tr>
        <td widtd="50">TO: CON EDISON ACCOUNTS PAYABLE</td>
    </tr>
    <tr>
        <td widtd="50">P.O. BOX 799</td>
    </tr>
    <tr>
        <td widtd="50">COOPER STATION</td>
    </tr>
    <tr>
        <td widtd="50">NEW YORK, NY 10276</td>
    </tr>

    <tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr>

    <tr>
        <td widtd="50">LOCATION WORKED: SEE "LOCATION WRITE-UP"</td>
    </tr>

    <tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr>

    <tr>
        <td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td>
        <td widtd="50"><b>Regular hrs:</b></td>
    </tr>
    <tr>
        <td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td>
        <td widtd="50"><b id="regular-hrs">3423 hrs @ $20.5</b></td>
    </tr>
    <tr height="20"><td widtd="50"></td></tr>
    <tr>
        <td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td>
        <td widtd="50"><b>Total Reg Hours: </b></td>
        <td widtd="50"><b id="total-reg-hrs">$70 171,50</b></td>
    </tr>
    <tr height="20"><td widtd="50"></td></tr>
    <tr>
        <td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td>
        <td widtd="50"><b>O/T hrs:</b></td>
    </tr>
    <tr>
        <td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td>
        <td widtd="50"><b id="ot-hrs">0 hrs @$30.75</b></td>
    </tr>
    <tr height="20"><td widtd="50"></td></tr>
    <tr>
        <td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td>
        <td widtd="50"><b>Total O/T Hours: </b></td>
        <td widtd="50"><b id="total-ot-hrs">$</b></td>
    </tr>

    <tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr>

    <tr>
        <td widtd="50">CONTACT PERSON FOR LOCATION</td>
        <td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td><td widtd="50"></td>
        <td widtd="50"><b>Total Due</b></td>
        <td widtd="50"><b id="total-due">$70 171,50</b></td>
    </tr>
    <tr>
        <td widtd="50">Req:</td>
        <td widtd="50" id="req"></td>
    </tr>
    <tr>
        <td widtd="50">Attn:</td>
        <td widtd="50" id="attn">Bob Bobber</td>
    </tr>
    <tr>
        <td widtd="50">Tele:</td>
        <td widtd="50" id="tele">xxx.xxx.xxxx</td>
    </tr>
    <tr>
        <td widtd="50">Cell</td>
        <td widtd="50" id="cell">xxx.xxx.xxxx</td>
    </tr>
    <tr>
        <td widtd="50">Fax</td>
        <td widtd="50" id="fax">Fax</td>
    </tr>

    <tr height="20"><td widtd="50"></td></tr>

    <tr>
        <td widtd="50">
            JOB DESCRIPTION: PARKING COORDINATION
        </td>
    </tr>
    <tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr>
    <tr>
        <td widtd="50"><b>SIGNED BY:</b></td>
        <td widtd="50"></td>
        <td widtd="50" id="signed-by" style="border-bottom: 1px solid #000000"></td>
        <td widtd="50" style="border-bottom: 1px solid #000000"></td>
    </tr>
    <tr height="20"><td widtd="50"></td></tr><tr height="20"><td widtd="50"></td></tr>
    <tr>
        <td widtd="50"><b>DATE:</b></td>
        <td widtd="50"></td>
        <td widtd="50" id="date" style="border-bottom: 1px solid #000000"></td>
        <td widtd="50" style="border-bottom: 1px solid #000000"></td>
    </tr>
</table>-->
<style>
    tr.report-header > td {
        background-color: #add8e6;
    }
    .report td {
        width: 100px;
    }
    .report tr {
        height: 18px;
    }
</style>
<div id="reports"></div>
