<tr style="height: 18px">
    <td id="requestDate">Job Request Date</td>
    <td id="jobStartDate">Job start Date</td>
    <td id="department">Department</td>
    <td id="location">Location</td>
    <td id="emrNumber">Emp#</td>
    <td id="remarks">Remarks</td>
    <td id="totalHours">TOTAL_HRS</td>
    <td id="billableHours">Billable hrs</td>
    <td id="strTime">Str time</td>
    <td id="strTimeAmount">St Time$</td>
    <td id="overtimeHours">OT</td>
    <td id="overtimeAmount">Ot $</td>
    <td id="emrTime">Emr Hrs</td>
    <td id="emrAmount">Emr Time #</td>
    <td id="totalAmount">TOTAL INVOICE AMOUNT</td>
</tr>