<tr style="height: 18px">
    <td id="dateOfService">DATE OF SERVICE</td>
    <td id="department">DEPARTMENT</td>
    <td id="section">SECTION #</td>
    <td id="po">P.O.NUMBER</td>
    <td id="billed">BILLED</td>
    <td id="ticketNumber">CON ED TICKET #</td>
    <td id="requestor">REQUESTOR</td>
    <td id="requestTime">REQUEST_TIME</td>
    <td id="supervisor">SUPERVISOR</td>
    <td id="ticketNum">CE Solutions JOB TICKET#</td>
    <td id="location">LOCATION ADDRESS & CROSS STREET</td>
    <td id="muni">MUNI</td>
    <td id="flaggerName">FLAGGER NAME</td>
    <td id="flaggerEmploe">FLAGGER EMPLOYEE #</td>
    <td id="tsReceived">T/S RECEIVED</td>
    <td id="startDateTime">START DATE/TIME</td>
    <td id="endDateTime">END DATE/TIME</td>
    <td id="breakTaken">1/2 HOUR BREAK TAKEN</td>
    <td id="totalHours">TOTAL HOURS WORKED</td>
    <td id="regularHours">REGULAR HOURS</td>
    <td id="overtimeHours">OVERTIME HOURS</td>
    <td id="holidayHours">HOLIDAY HOURS</td>
    <td id="totalAmount">TOTAL INVOICE AMOUNT</td>
</tr>