<tr style="height: 18px">
    <td id="startDateTime">Start Date / Time</td>
    <td id="endDateTime">End Date / Time</td>
    <td id="requestDate">Job Request Date</td>
    <td id="jobStartDate">Job Start Date</td>
    <td id="department">DEPARTMENT</td>
    <td id="supervisor">Con Ed Supervisor</td>
    <td id="conedTicketNumber">CONED TICKET #</td>
    <td id="confNumber">Conf No</td>
    <td id="requisition">Requisition #</td>
    <td id="order">Purchase Order #</td>
    <td id="receipted">Receipted</td>
    <td id="requestor">REQUESTOR</td>
    <td id="timesheetNum">Timesheet #</td>
    <td id="pa">PA</td>
    <td id="location">Location</td>
    <td id="additionalLocations">Additional Locations</td>
    <td id="worker">Worker</td>
    <td id="remarks">Remarks</td>
    <td id="conedRemarks">Con Ed Remarks</td>
    <td id="totalHours">Total Hours</td>
    <td id="billableHours">Billable Hrs</td>
    <td id="strTime">Str Time</td>
    <td id="strTimeAmount">St Time $</td>
    <td id="overtimeHours">Ot Hrs</td>
    <td id="overtimeAmount">Ot $</td>
    <td id="emrTime">Emr Time</td>
    <td id="emrAmount">Emrtime $</td>
    <td id="totalAmount">Total Cost</td>
    <td id="paid">PAID</td>
    <td id="serviceType">SERVICE TYPE</td>
</tr>