<tr style="height: 18px">
    <td id="startDateTime"></td>
    <td id="endDateTime"></td>
    <td id="dateOfService"></td>
    <td id="department"></td>
    <td id="section"></td>
    <td id="po"></td>
    <td id="ticketNum"></td>
    <td id="requestTime"></td>
    <td id="supervisor"></td>
    <td id="conedJobTicket"></td>
    <td id="muni"></td>
    <td id="flaggerEmploe"></td>
    <td id="requestor"></td>
    <td id="timesheetId"></td>
    <td>1</td>
    <td id="location"></td>
    <td id="flaggerName"></td>
    <td id="comments"></td>
    <td id="jobComment"></td>
    <td id="totalHours"></td>
    <td id="billableHours"></td>
    <td id="regularHours"></td>
    <td id="regularAmount" data-cell-type="number" data-cell-format-str='"$"0.00'></td>
    <td id="overtimeHours"></td>
    <td id="overtimeAmount" data-cell-type="number" data-cell-format-str='"$"0.00'></td>
    <td id="holidayHours"></td>
    <td id="holidayAmount" data-cell-type="number" data-cell-format-str='"$"0.00'></td>
    <td id="totalAmount" data-cell-type="number" data-cell-format-str='"$"0.00'></td>
    <td id="paid"></td>
</tr>