<tr style="height: 18px">
    <td id="startDateTime"></td>
    <td id="endDateTime"></td>
    <td id="requestDate"></td>
    <td id="jobStartDate"></td>
    <td id="department"></td>
    <td id="supervisor"></td>
    <td id="conedTicketNumber"></td>
    <td id="confNumber"></td>
    <td id="requisition"></td>
    <td id="order"></td>
    <td id="receipted"></td>
    <td id="requestor"></td>
    <td id="timesheetNum"></td>
    <td id="pa"></td>
    <td id="location"></td>
    <td id="additionalLocations"></td>
    <td id="worker"></td>
    <td id="remarks"></td>
    <td id="conedRemarks"></td>
    <td id="totalHours"></td>
    <td id="billableHours"></td>
    <td id="strTime"></td>
    <td id="strTimeAmount" data-cell-type="number" data-cell-format-str='"$"0.00'></td>
    <td id="overtimeHours"></td>
    <td id="overtimeAmount" data-cell-type="number" data-cell-format-str='"$"0.00'></td>
    <td id="emrTime"></td>
    <td id="emrAmount" data-cell-type="number" data-cell-format-str='"$"0.00'></td>
    <td id="totalAmount" data-cell-type="number" data-cell-format-str='"$"0.00'></td>
    <td id="paid"></td>
    <td id="serviceType"></td>
</tr>