<tr style="height: 18px">
    <td id="dateOfService"></td>
    <td id="department"></td>
    <td id="section"></td>
    <td id="po"></td>
    <td id="billed"></td>
    <td id="ticketNumber"></td>
    <td id="requestor"></td>
    <td id="requestTime"></td>
    <td id="supervisor"></td>
    <td id="ticketNum"></td>
    <td id="location"></td>
    <td id="muni"></td>
    <td id="flaggerName"></td>
    <td id="flaggerEmploe"></td>
    <td id="tsReceived"></td>
    <td id="startDateTime"></td>
    <td id="endDateTime"></td>
    <td id="breakTaken"></td>
    <td id="totalHours"></td>
    <td id="regularHours"></td>
    <td id="overtimeHours"></td>
    <td id="holidayHours"></td>
    <td id="totalAmount" data-cell-type="number" data-cell-format-str='"$"0.00'></td>
</tr>