<tr style="height: 18px">
    <td id="requestDate"></td>
    <td id="jobStartDate"></td>
    <td id="department"></td>
    <td id="location"></td>
    <td id="emrNumber"></td>
    <td id="remarks"></td>
    <td id="totalHours"></td>
    <td id="billableHours"></td>
    <td id="strTime"></td>
    <td id="strTimeAmount" data-cell-type="number" data-cell-format-str='"$"0.00'></td>
    <td id="overtimeHours"></td>
    <td id="overtimeAmount" data-cell-type="number" data-cell-format-str='"$"0.00'></td>
    <td id="emrTime"></td>
    <td id="emrAmount" data-cell-type="number" data-cell-format-str='"$"0.00'></td>
    <td id="totalAmount" data-cell-type="number" data-cell-format-str='"$"0.00'></td>
</tr>